<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--替换占位符-->
    <com.qingyun.springframework.aop.test.bean class="com.qingyun.springframework.beans.factory.PropertyPlaceholderConfigurer">
        <!--配置文件的路径-->
        <property name="location" value="classpath:spring.properties"/>
    </com.qingyun.springframework.aop.test.bean>

    <context:component-scan base-package="com.qingyun.springframework.context.test.annotationTest"/>

</beans>